.phone-header {
    width: 100%;

    height: 17px;
    margin-top: 12px;
    font-family: "SFProTextSemibold";

    z-index: 99;
}

.phone-header-right {
    width: 20%;
    height: 100%;

    float: right;
}

.phone-header-left {
    display: inline-block;
    width: 17%;
    height: 100%;

    margin: 0 auto;
    margin-left: 14px;
}

.phone-header-icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 4px;

    width: 12px;
    height: 14px;
}

.phone-header-time {
    position: absolute;

    color: white;
    font-size: 11px;

    font-weight: 500;
}