.phone-header {
    position: relative;
    width: 100%;
    user-select: none;
    padding-top: 12px;
    height: 17px;
    z-index: 1;
    /*margin-top: 12px; */
    font-family: "SFProTextSemibold";
    color: white;

    z-index: 99;
}

.phone-header-right {
    width: 20%;
    height: 100%;

    float: right;
}

.phone-header-left {
    display: inline-block;
    width: 17%;
    height: 100%;

    margin: 0 auto;
    margin-left: 14px;
}

.phone-header-icon {
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;

    margin-right: 4px;

    width: 10.5px;
    height: 14px;
}

.phone-header-time {
    position: absolute;

    font-size: 10.5px;

    font-weight: 500;
}