.phone-container {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 300px;
    height: 600px;

    margin-bottom: 10px;
    margin-right: 8px;

    font-family: 'SFProTextRegular';
}

.phone-content {
    width: 260px;
    height: 547px;

    overflow: hidden;

    margin-left: 20px;
    margin-top: 15px;
}

.test-bg {
    background-image: url('https://i.imgur.com/aI8fEEZ.png');
    background-size: cover;
    background-repeat: no-repeat;

    display: none;

    width: 275px;
    height: 600px;
    position: absolute;

    right: -3px;
    left: 2px;
}

.app-container {
    width: 260px;
    height: 555px;
    position: absolute;

    margin-top: -30px;

    z-index: -1;
    color: black;

    background-color: white;
}