
.app-icon {
    display: block;
    // background-color: red;
    width: 48px;
    
    margin-right: 12px;
    margin-bottom: 8px;

    text-align: center;

    color: white;
    &:hover {
        background-color: rgba(240, 240, 240, 0.1);
        border-radius: 8px;
    }
}

.app-icon-image {
    width: 42px;
    height: 42px;

    display:block;
    margin:auto;

    background-size: contain;
    background-repeat: no-repeat;
 }

 .app-text {
    font-size: 9px;
    color: rgba(240, 240, 240, 0.8);
    padding-bottom: 6px;
}