$btn-background: #e5e5e5;
$btn-call-background:#63c366;

.keypad-row {
    display: flex;
    justify-content: center;
}


.keypad-header {
    height: 120px;
}

h2 {
    line-height: 120px;
    text-align: center;
    vertical-align: middle;
}

.keypad-btn {
    height: 30px;
    width: 30px;
    padding: 10px;
    margin: 8px;
    background-color: $btn-background;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;

    &:hover {
        background-color: darken($btn-background, 20%);
    }
}

#call-btn {
    background-color: $btn-call-background;
    fill: white;
    margin-left: 74px;

    &:hover {
        background-color: darken($btn-call-background, 20%);
    }
}

#call-icon {
    width: 22px;
    margin-top: 4px;
    margin-left: 4px;
}

.keypad-letters {
    margin-top: -3px;
    font-size: 7px;
    font-weight: bold;
}

#plus {
    margin-top: -6px;
    font-size: 10px;
    font-weight: bolder;
}

#asterisk {
    font-size: 35px;
    font-weight: 100;
    vertical-align: middle;
    line-height: 44px;
}


#sharp-icon {
    width: 16px;
    height: 16px;
    margin-left: 7px;
    margin-top: 4px;
}

#delete-icon {
    fill: $btn-background;
    width: 20px;
    height: 18px;

    &:hover {
        fill: darken($btn-background, 20%);
    }
}

#keypad-delete {
    margin: 8px;
    padding: 15px 16px;
}


ul.call-history {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        align-items: center;
        font-size: 10px;
        height: 45px;
        border-bottom: 1px solid #f5f5f5;
    }
    
    li:first-child {
        border-top: 1px solid #f5f5f5;
    }
}

.text-light {
    color: #b2b2b2 !important;
}

.call-name {
    flex: 1;

    h3, h4 {
        margin: 0;
    }
}

.missed {
    color: red;
}

.outgoing-icon {
    width: 10px;
    fill: #b2b2b2;
    margin-top: 2px;
}

.outgoing-container {
    width: 15px;
    padding-top: 9px;
    align-self: flex-start;
    margin-left: 5px;
}

.confirm-delete-btn {
    height: 45px;
    width: 50px;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    background-color: red;
    color: white;
}

.deleting {
    margin-left: -50px;
}

.call-date {
    margin: 0 8px;
}

.header {
    padding: 10px;
    display: flex;
    font-size: 10px;
    align-items: center;
    justify-content: space-between;
}

.call-filter {
    padding: 2px;
    display: flex;
    width: 100px;
    background-color: #eeeeee;
    border-radius: 5px;
}

.call-filter-btn {
    border-radius: 5px;
    padding: 4px;
    flex: 1;
    text-align: center;

    &.active {
        background-color: white;
    }
}

.header-right {
    flex: 1;
    text-align: right;
    color: #327bf6;
}

.header-left {
    flex: 1;
    text-align: left;
    color: #327bf6;
}

h1 {
    margin: 0 0 8px 18px;
    font-size: 22px;
}

.minus-icon {
    fill: red;
    width: 12px;
    margin: 0 6px 0 10px;
}