$btn-background: #e5e5e5;
$btn-call-background:#63c366;
$red: #eb4e3d;
$blue: #327bf6;

.keypad-row {
    display: flex;
    justify-content: center;
}


.keypad-header {
    height: 120px;
}

.keypad-number {
    line-height: 120px;
    text-align: center;
    vertical-align: middle;
}

.keypad-btn {
    height: 30px;
    width: 30px;
    padding: 10px;
    margin: 8px;
    background-color: $btn-background;
    text-align: center;
    border-radius: 50%;
    font-size: 20px;

    &:hover {
        background-color: darken($btn-background, 20%);
    }
}

#call-btn {
    background-color: $btn-call-background;
    fill: white;
    margin-left: 74px;

    &:hover {
        background-color: darken($btn-call-background, 20%);
    }
}

#call-icon {
    width: 22px;
    margin-top: 4px;
    margin-left: 4px;
}

.keypad-letters {
    margin-top: -3px;
    font-size: 7px;
    font-weight: bold;
}

#plus {
    margin-top: -6px;
    font-size: 10px;
    font-weight: bolder;
}

#asterisk {
    font-size: 35px;
    font-weight: 100;
    vertical-align: middle;
    line-height: 44px;
}


#sharp-icon {
    width: 16px;
    height: 16px;
    margin-left: 7px;
    margin-top: 4px;
}

#delete-icon {
    fill: $btn-background;
    width: 20px;
    height: 18px;

    &:hover {
        fill: darken($btn-background, 20%);
    }
}

#keypad-delete {
    margin: 8px;
    padding: 15px 15px;
    width: 20px;
}


ul.list-view {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        display: flex;
        align-items: center;
        font-size: 10px;
        height: 45px;
        border-bottom: 1px solid #dddddd;
        transition: margin-left 0.5s;

        h3, h4 {
            margin: 0;
        }

        h3 {
            margin-bottom: 2px;
        }

        .informations {
            flex: 1;
        }

        .details {
            margin: 0 8px;
            text-align: right;
        }

        &.selected {
            background-color: #f2f2f6;
        }
    }
    
    li:first-child {
        border-top: 1px solid #dddddd;
    }
}

.text-light {
    color: #b2b2b2 !important;
}

.deleting {
    margin-left: -50px;

    .delete-btn-displayed {
        width: 50px;
    }
}

.missed {
    color: $red;
}

.outgoing-icon {
    width: 10px;
    fill: #b2b2b2;
    margin-top: 11px;
}

.left-icon-container {
    width: 15px;
    height: 45px;
    margin-left: 5px;
}

.confirm-delete-btn {
    height: 45px;
    overflow: hidden;
    width: 0px;
    line-height: 45px;
    vertical-align: middle;
    text-align: center;
    background-color: $red;
    color: white;
    transition: width 0.5s;
}

.header {
    margin-top: 10px;
    padding: 0 10px;
    height: 30px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: space-between;

    .header-right {
        flex: 1;
        text-align: right;
        color: $blue;
    }
    
    .header-left {
        flex: 1;
        text-align: left;
        color: $blue;
    }
    
    .header-middle {
        width: 100px;
        text-align: center;
    }
}

.border-bottom {
    border-bottom: 1px solid #f5f5f5;
}

.call-filter {
    padding: 2px;
    display: flex;
    background-color: #eeeeee;
    border-radius: 5px;
}

.call-filter-btn {
    border-radius: 5px;
    padding: 4px;
    flex: 1;
    text-align: center;
    transition: background-color 0.3s;

    &.active {
        background-color: white;
    }
}

h1.page-title {
    margin: 10px 0 8px 18px;
    font-size: 20px;
}

.minus-icon {
    fill: $red;
    width: 12px;
    margin: 0 6px 0 10px;
}

.favourites-container {
    height: 450px;
    line-height: 450px;
    vertical-align: middle;
    text-align: center;
    color: #939393;
}

.plus-icon {
    width: 12px;
    fill: $blue;
    margin-top: 4px;
}

.notification {
    display: inline-block;
    background: #2c76d6;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-top: 18.5px;
}

.font-lighter {
    font-weight: lighter;
}

.page-container {
    height: 450px;
    overflow-y: auto;
}

.circle-icon {
    width: 12px;
    fill: #b2b2b2;
    margin-left: 8px;

    &.selected {
        fill: $blue;
    }
}

#voicemail-options {
    position: fixed;
    background-color: #f6f6f6;
    bottom: 27px;
    left: 0;
    right: 0;
    height: 18px;
    z-index:99;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #dddddd;
    color: #cacaca;

    .enable {
        color: $blue;
    }
}