.app-screen-background {
    margin-top: -29px;
    height: 100%;
}

.app-screen {
    height: 420px;

    padding-top: 45px;
}

.app-screen-container {
    // background-color: red;
    margin: 18px;
    margin-right: 0;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    white-space: nowrap;
}